* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(230, 228, 111);
  font-size: 20px;
}

a {
  text-decoration: none;
  padding: 3rem;
  text-align: center;
  color: rgb(141, 49, 49);
}

a:hover {
  color: rgb(53, 209, 77);
}

h3 {
  padding: 5px;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(80, 72, 72);
}

img {
  width: 100%;
}
